:root{
    --primary:#8c38ff;
    --light:#eeeeee;
    --dark:#212121;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    max-width: 1200px;
    margin:0 auto;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

nav{
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index: 99;
    background-color: var(--dark);
    padding: 16px 32px;
    border-bottom:  3px solid var(--primary);
}

h1{
    color:white;
    font-size:28px;
    font-weight:900;
    text-transform: uppercase;
}

h2{
    color:white;
    font-size:28px;
    font-weight: 900;
}

h3{
    color:white;
    font-size:20px;
    font-weight:500;
}

.hamburger{
   display:block;
   position:relative;
   z-index: 1;
   user-select: none;
   appearance: none;
   border: none;
   outline: none;
   background: none;
   cursor: pointer;
}

.hamburger span {
    display:block;
    width:33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background-color: var(--light);
    border-radius: 6px;
    z-index: 1;
    transform-origin: 0 0;
    transition: 0.4s;
}

.hamburger.is-active span:nth-child(1){
    transform: translate(0px, -2px) rotate(45deg);
}

.hamburger.is-active span:nth-child(2){
    opacity: 0;
    transform: translateX(15px);
}

.hamburger.is-active span:nth-child(3){
    transform: translate(-3px, 3px) rotate(-45deg);
}

.hamburger.is-active:hover span {
    background-color: var(--primary);
}

.menu{
    display: none;
    flex: 1 1 0%;
    justify-content: flex-end;
    margin: 0 -16px;
}

.menu a{
    color: white;
    margin: 0 16px;
    font-weight: bold;
    text-decoration: none;
    transition:0.4s;
    padding: 8px 16px;
    border-radius: 99px;
}

.menu a.is-active, .menu a:hover{
    background-color: var(--primary);
}

.mobile-nav{
    position:fixed;
    top:0;
    left:100%;
    width:100%;
    height:100vh;
    display:block;
    z-index: 98;
    background-color:var(--dark);
    padding-top: 120px;
    transition: 0.4s;
}

.mobile-nav.is-active{
    left: 0;
}

.mobile-nav a{
        display:block;
        width:35%;
        max-height: 70px;
        margin: 0 auto;
        text-align:center;
        margin-bottom: 16px;
        padding:12px 16px;
        background-color:var(--dark);
        color:var(--light);
        text-decoration:none;
        border-radius: 99px;
 }

 .mobile-nav a:hover{
     background-color:var(--primary);
     color:var(--light);
 }

/* Home Section */
/* Inspired by https://www.youtube.com/watch?v=zX3ikOsQg58 */
#home{
    display:flex;
    flex-direction:column; 
    background-color: rgba(0, 0, 0, 0.5);
    height: 700px;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
   
}


#home::before{
    content:"" ;
    position:absolute;
    top:0;
    right: 0;
    background: url("Assets/Background/book.jpg") no-repeat center center/cover;
    height: 900px;
    width: 100%; 
    z-index: -1;
    opacity: .9;

}
   

.main{
    display:flex;
    flex-direction:column;
    /* border: 1px solid rgb(243, 238, 238);*/
    align-items: center; 
    position:relative;
   
} 
/* Write by me */
.headings{
    font-family:century;
    font-size: 3rem;
    text-align:center;
    margin: 40px 0px;
}
.btn{
    padding: 10px 50px;
    margin: 20px;
    background-color: transparent;
    border:1px solid white;
    color:white;
    outline: none;
    transition: .6s easy;
    border-radius: 20px;
}
.btn:hover{
    cursor: pointer;
    background-color: white;
    color:black;
    box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
    font-weight: bold;
}
/* About Section*/
/* Inspired by https://www.youtube.com/watch?v=zX3ikOsQg58  */
#about{ 
    background-color: black;
    color: white;
    font-family:cursive;
    font-size:20px;
    display:inherit;
    flex-direction:column;
    box-sizing: border-box;
    padding: 30px;
}
.pic{
    display:ruby-text;
    padding-top: 30px;
}
.pic img{
    width: 260px;
 

}
.intro{
    display: flex;
    flex-direction: column;
    text-align:left;
    padding: 10px;

}
/* Write by me */

.heading{
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#p{
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;
    padding:8px;
    padding-top: 10px;

}
/* Portfolio Section */
#portfolio{
    align-self: center;
    padding-top:40px;
    height: 300px;
    width:100%;
    background: rgb(0, 0, 0);
    color: rgb(255, 254, 254);
}

/* Contact Me Section */
#contact{
    background: black;
    color: white;
    padding-top: 20px ;

}
.contact-section h2{
    align-self: center;
    padding:20px;
    width: 100%;
    color:rgb(255, 255, 255);
}
.contact-form{
    max-width: 600px;
    margin:auto;
    padding:20px;
}
.contact-form-text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
    border: 20px;
    background: white;
    padding: 20px 40px;
    outline:none;
    color:rgb(0, 0, 0);
    transition: .6s ease;
}
.contact-form-text:focus{
    box-shadow: 0 0 10px 4px #fcfcfc;
    transition: .6s ease;
}
.btn{
    background-color:transparent;
    padding:15px 50px;
    border:1px solid white;
    color:rgb(255, 255, 255);
    outline: none;
    transition: .5s ease;
    border-radius: 20px;
}
.btn:hover{
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color:black;
    box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
    font-weight: bold;
}

#footer{
    background-color: rgb(0, 0, 0);
    color: white;
    position:static;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    height:30px;
}

@media (min-width: 790px) {
    .hamburger{
        display: none;
    }
    .menu{
        display:flex;
    }
}

@media (max-width:500px){
    .pic img{
        width: 100%;
    }

}
