  /* Inspired by https://www.youtube.com/watch?v=zX3ikOsQg58 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    scroll-snap-align: initial;
}
/* Navbar */
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: sticky;
    top: 0;
    width: 100%;
 
} 
/* write by me */
.navbar ul{
    display: flex;
    list-style: none;
    margin: 10px 0px;
}
.navbar ul li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}
/* Inspired by https://www.youtube.com/watch?v=zX3ikOsQg58 */
.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    transition: all .5s ease;
    text-transform: uppercase;
}
.navbar ul li a:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
}
.navbar{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
/* Inspired by https://www.youtube.com/watch?v=zX3ikOsQg58 */
/* Home Section */
/* Inspired by https://www.youtube.com/watch?v=zX3ikOsQg58 */
#home{
    display:flex;
    flex-direction:column; 
    background-color: rgba(0, 0, 0, 0.5);
    height: 700px;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
}


#home::before{
    content:"" ;
    position:absolute;
    top:0;
    right: 0;
    background:url('book.jpg') no-repeat center center/cover;
    height: 900px;
    width: 100%; 
    z-index: -1;
    opacity: .9;

}
   

.main{
    display:flex;
    flex-direction:column;
    /* border: 1px solid rgb(243, 238, 238);*/
    align-items: center; 
    position:flex;
   
} 
/* Write by me */
.headings{
    font-family:century;
    font-size: 3rem;
    text-align:center;
    margin: 40px 0px;
}
.btn{
    padding: 10px 35px;
    background-color: transparent;
    border:1px solid white;
    color:white;
    outline: none;
    transition: .6s easy;
    border-radius: 20px;
}
.btn:hover{
    cursor: pointer;
    background-color: white;
    color:black;
    box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
    font-weight: bold;
}
/* About Section*/
/* Inspired by https://www.youtube.com/watch?v=zX3ikOsQg58  */
#about{ 
    background-color: black;
    color: white;
    font-family:cursive;
    font-size:20px;
    display:inherit;
    flex-direction:column;
    box-sizing: border-box;
    padding: 20px;
}
#pic{
    display:ruby-text;
    padding-top: 30px;
}
#pic img{
    width: 300px;
    height: 300px;
 

}
#intro{
    display: flex;
    flex-direction: column;
    text-align:left;
    padding: 10px left;

}
/* Write by me */

.heading{
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    padding: 10px left;
}

#p{
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;
    padding:8px;
    padding-top: 10px;

}
#p1{
    font-size: 25px;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 15px;
    padding-top: 20px;
}
/* Portfolio Section */
#portfolio{
    align-self: center;
    padding:20px;
    height: 300px;
    width:100%;
    background: rgb(0, 0, 0);
    color: rgb(255, 254, 254);
}

/* Contact Me Section */
#contact{
    background: black;
    color: white;
    padding: 40px ;

}
.contact-section h1{
    align-self: center;
    padding:20px;
    height: 300px;
    width: 100%;
    color:rgb(255, 255, 255);
}
.contact-form{
    max-width: 600px;
    margin:auto;
    padding:20px;
}
.contact-form-text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
    border: 20px;
    background: white;
    padding: 20px 40px;
    outline:none;
    color:rgb(0, 0, 0);
    transition: .6s ease;
}
.contact-form-text:focus{
    box-shadow: 0 0 10px 4px #fcfcfc;
}
textarea-contact-form-text{
    resize: none;
    height: 150px; 
}
.contact-form-btn{
    float:right;
    border: 10px;
    background-color: transparent;
    padding: 12px 50px;
    border:1px solid white;
    color:white;
    outline: none;
    transition: .5s ease;
    border-radius: 20px;
}
.contact-form-btn:hover{
    cursor: pointer;
    background-color: white;
    color:black;
    box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
    font-weight: bold;
}

#footer{
    background-color: rgb(0, 0, 0);
    color: white;
    position:static;
    margin-top: 4%;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
}
